@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:black
}


.intro{
   color: rgb(0, 0, 255);
   margin-top: 50px ;
   margin-left: 150px;
   margin-right: 50px;
   display: flex;
   justify-content: space-between;



}
.intro p{
   width: 400px;

}
.dumypic{
   width: 200px;
   height: 200px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   border-radius: 50%;


   
}
